<div class="body">
    <div class="slogan">
        <h2>SAY HELLO TO THE BAZAR TEAM.</h2>
        <div class="border margin-top"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>

    <div class="primary">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="contact-form">
                        <fieldset>
                            <div class="row">

                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    <div class="input-prepend">
                                        <span class="add-on"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input type="text" name="" class="with-icon required" value="" placeholder="NAME">
                                    </div>
                                    <div class="msg-error"></div>
                                    <div class="clear"></div>

                                    <div class="input-prepend">
                                        <span class="add-on"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                        <input type="text" name="" class="with-icon required email-validate" value="" placeholder="EMAIL">
                                    </div>
                                    <div class="msg-error"></div>
                                    <div class="clear"></div>

                                    <div class="input-prepend">
                                        <label for="male"><input type="radio" name="title" class="with-icon" value="male" id="male">Male</label>
                                        <label for="female"><input type="radio" name="title" class="with-icon" value="female" id="female">Female</label>
                                    </div>
                                    <div class="msg-error"></div>
                                    <div class="clear"></div>
                                </div>

                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                        <textarea name="" rows="8" cols="30" class="with-icon required" placeholder="ENTER YOUR MESSAGE"></textarea>
                                    </div>
                                    <div class="msg-error"></div>
                                    <div class="clear"></div>

                                    <input type="submit" name="" value="Send Message" class="sendmail alignright">
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </fieldset>
                        <div class="clear"></div>
                    </div>

                    <contact-map></contact-map>
                    
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <recent-posts></recent-posts>
                </div>

            </div><!--row-->
        </div><!--container-->
    </div>

</div>