<div class="body">
    <div class="primary">
        <div class="container">

            <div class="breadcrumbs">
                <nav class="page-breadcrumb">
                    <a href="index.html">Home</a>&nbsp;/&nbsp;
                    <a href="#">Clothes</a>&nbsp;/&nbsp;Black Skulls
                </nav>
            </div>

            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="product">
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="img">
                                    <div class="magnifier-thumb-wrapper">
                                        <img id="thumb" [src]="'assets/images/prod-lg-1.jpg'" data-large-img-url="css/images/prod-lg-1.jpg" data-large-img-wrapper="preview" class="">
                                    <div id="thumb-lens" class="magnifier-lens hidden" style="width: 205px; height: 174px; background: url(&quot;file:///F:/webshop/Prototype/css/images/prod-lg-1.jpg&quot;) -52px -97px no-repeat scroll; left: 51px; top: 96px;"></div></div>
                                    <div class="magnifier-preview" id="preview">
                                        <img [src]="'assets/images/prod-lg-1.jpg'" id="thumb-large" class="magnifier-large hidden" style="width: 818px; height: 40px; left: -104px; top: -11px;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="product-summary">
                                    <h1 class="product_title">Black Skulls</h1>
                                    <div class="border borderstrong"></div>
                                    <div class="border"></div>
                                    <div class="border"></div>
                                    <div class="border"></div>

                                    <div class="product-description">
                                        <p>Phasellus egestas, nunc non consectetur hendrerit, risus mauris cursus velit,
                                            et condimentum nisi enim in eros.</p>
                                        <p>Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis
                                            interdum.
                                        </p>
                                        <p>Donec nisi est, tempus eget. Nam ullamcorper neque non erat elementum vulputate.
                                            Nullam dignissim lobortis interdum. Donec nisi est, tempus eget.</p>
                                    </div>

                                    <div class="product_meta">
                                        <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku" data-o_sku="N/A">N/A</span></span>
                                        <span class="posted_in">Category: <a href="#">Clothes</a></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="product-box group">
                        <div class="border-box group">

                            <div>
                                <p class="price">$35.00 – $40.00</p>
                            </div>

                            <div class="variations">

                                <label for="pa_colors">Colors</label>
                                <div class="select-wrapper">
                                    <select id="pa_colors" class="selectBox" name="attribute_pa_colors">
                                        <option value="">Choose an option</option>
                                        <option value="yellow " class="attached enabled ">Yellow</option>
                                        <option value="orange" class="attached enabled ">Orange</option>
                                        <option value="black " class="attached enabled">Black</option>
                                    </select>
                                </div>

                                <label for="pa_size ">Size</label>
                                <div class="select-wrapper ">
                                    <select id="pa_size " class="selectBox" name="attribute_pa_size">
                                        <option value=" ">Choose an option</option>
                                        <option value="l " class="attached enabled ">L</option>
                                        <option value="m " class="attached enabled ">M</option>
                                        <option value="s " class="attached enabled ">S</option>
                                    </select>
                                </div>
                            </div>

                            <span class="total-price">$<span>40.00</span></span>

                            <div class="variation-add-to-cart">
                                <div class="quantity buttons_added ">
                                    <span class="minus">-</span>
                                    <input type="number " step="1 " min="1" value="1 " class="input-text qty text " size="4 " pattern="[0-9]* " inputmode="numeric ">
                                    <span class="plus">+</span>
                                </div>
                                <button type="submit " class="add_to_cart_button button">Add to cart</button>
                            </div>

                            <div class="clear"></div>
                            <div class="border borderstrong "></div>
                            <div class="border "></div>
                            <div class="border "></div>
                            <div class="border "></div>
                            <div class="prod-btn-group clearfix">
                                <div class="wishlist"><a href="#">Wishlist</a></div>
                                <div class="compare"><a href="#">Compare</a></div>
                                <div class="share"><a href="#">Share</a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="product-tab-box">

                        <ul class="tabs clearfix">
                            <li class="description_tab current">
                                <h4><a href="#tab-description">Description</a></h4>
                            </li>
                            <li class="additional_information_tab active">
                                <h4><a href="#tab-additional_information">Additional Information</a></h4>
                            </li>
                            <li class="reviews_tab">
                                <h4><a href="#tab-reviews">Reviews (0)</a></h4>
                            </li>
                            <li class="info_tab">
                                <h4><a href="#tab-info">Product Inquiry</a></h4>
                            </li>
                        </ul>

                        <div class="panel entry-content" id="tab-description">
                            <h2>Product Description</h2>
                            <p>Phasellus egestas, nunc non consectetur hendrerit, risus mauris cursus velit, et condimentum
                                nisi enim in eros.</p>
                            <p>Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis interdum.</p>
                            <p>Donec nisi est, tempus eget. Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim
                                lobortis interdum. Donec nisi est, tempus eget.</p>
                        </div>

                    </div>
                </div>

            </div><!--row-->

        </div><!--container-->
    </div>
</div>