<div class="total-items col-md-5 col-sm-5 col-xs-5">
    <span class="total">0</span> <span class="text">items</span>
</div>

<div class="cart-list col-md-7 col-sm-7 col-xs-7">

    <div class="cart-subtotal">
        $<span>0.00</span>
    </div>
    
    <div class="shopping-cart">
        <a class="cart-control">View cart</a>
        <div class="cart-wrapper">
            <div class="widget_shopping_cart_content">

                <ul class="cart_list product_list_widget ">
                    <li class="mini_cart_item clearfix">
                        <a href="#"><img src="/assets/images/cart-item-1.jpg" width="100" height="80" ></a>
                        <a href="#" class="name">Woman glasses</a>
                        <a href="#" class="remove remove_item">remove</a>
                        <span class="quantity">1 × <span class="price-amount">$39.00</span>
                        </span>
                    </li>
                </ul>

                <p class="total">SUBTOTAL
                    <span class="price-amount">$39.00</span>
                </p>

                <p class="buttons">
                    <a href="#" class="button wc-forward">View Cart</a>
                    <a href="#" class="button checkout wc-forward">Checkout</a>
                </p>
            </div>
        </div>
    </div>

</div>