<header>
    <div class="container">

        <top-bar></top-bar>

        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border borderstrong"></div>

        <div class="main-header">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ws-logo></ws-logo>
                </div>

                <div class="col-md-4 col-md-push-4 col-sm-6 col-xs-12">
                    <div class="row">
                        <cart></cart>
                        <search></search>
                    </div>
                </div>

                <div class="col-md-4 col-md-pull-4 col-sm-12 hidden-xs">
                    <div class="row">
                        <div class="widget-container">
                            <div class="widget">
                                <img src="/assets/images/icon-widget.png" />
                                <div class="widget-content">
                                    <h3>ANOTHER WIDGET</h3>
                                    <p>ADD ICON AND TEXT</p>
                                </div>
                            </div>

                            <div class="widget">
                                <img src="/assets/images/icon-phone.png" />
                                <div class="widget-content">
                                    <h3>CUSTOMER SUPPORT</h3>
                                    <p>+ 39 097 372659</p>
                                </div>
                            </div>
                        </div>

                        <social></social>
                    </div>
                </div>

            </div>
        </div><!--main-header-->

        <nav-bar></nav-bar>

        <div class="border borderstrong"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div><!--container-->
</header>