<footer>
    <div class="container">
        <div class="border borderstrong"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>

        <div class="row">
            <div class="left col-md-6 col-sm-6 col-xs-12">
                <p>Copyright <a href="#"><strong>Bazar [SHOP]</strong></a> 2012</p>
            </div>

            <div class="right col-md-6 col-sm-6 col-xs-12">
                <p>
                    <a href="#" rel="nofollow"><img src="http://yithemes.com/cdn/images/various/footer_yith_grey.png" style="position:relative; top:9px; margin: -11px 5px 0 0;"></a>                        Powered by
                    <a href="http://yithemes.com/" title="free themes wordpress" rel="nofollow">
                        <strong>Your Inspiration Themes</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>