<div class="col-md-3 col-md-pull-9 col-sm-3 col-sm-pull-9 col-xs-12">

    <div class="filter-widget open">
        <div class="filter-title">
            filter by...
        </div>
        <ul class="list-filter">
            <li><a href="#">Glasses</a></li>
            <li><a href="#">Clothes</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Bags</a></li>
        </ul>
    </div>

    <div class="filter-widget open">
        <div class="filter-title">
            filter by...
        </div>
        <ul class="list-filter">
            <li><a href="#">Glasses</a></li>
            <li><a href="#">Clothes</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Bags</a></li>
        </ul>
    </div>

</div>