<header>
    <div class="container">

        <div class="row">
            <div class="top-bar clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="register.html">Login / Register</a></li>
                        <li><a href="#">My wishlist</a></li>
                        <li><a href="#">Compare</a></li>
                    </ul>
                </div>
            </div>
        </div><!--top-bar-->

        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border borderstrong"></div>

        <div class="main-header">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="logo">
                        <img src="/assets/images/logo.png" />
                        <p class="tagline">Just another Live Previews Sites</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-push-4 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="total-items col-md-5 col-sm-5 col-xs-5">
                            <span class="total">0</span> <span class="text">items</span>
                        </div>

                        <div class="cart-list col-md-7 col-sm-7 col-xs-7">
                            <div class="cart-subtotal">
                                $<span>0.00</span>
                            </div>
                            <div class="shopping-cart">
                                <a class="cart-control">View cart</a>
                                <div class="cart-wrapper">
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget ">
                                            <li class="mini_cart_item clearfix">
                                                <a href="#"><img src="/assets/images/cart-item-1.jpg" width="100" height="80" ></a>
                                                <a href="#" class="name">Woman glasses</a>
                                                <a href="#" class="remove remove_item">remove</a>
                                                <span class="quantity">1 × <span class="price-amount">$39.00</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <!-- end product list -->
                                        <p class="total">SUBTOTAL <span class="price-amount">$39.00</span>
                                        </p>
                                        <p class="buttons">
                                            <a href="#" class="button wc-forward">View Cart</a>
                                            <a href="#" class="button checkout wc-forward">Checkout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="searchbox-container col-md-12 col-sm-12 col-xs-12">
                            <form action="#" method="get" class="search_mini">
                                <input type="text" name="s" id="search_mini" value="" placeholder="search for products">
                                <input type="submit" value="" id="mini-search-submit">
                            </form>
                        </div><!--searchbox-->
                    </div>
                </div>

                <div class="col-md-4 col-md-pull-4 col-sm-12 hidden-xs">
                    <div class="row">
                        <div class="widget-container">
                            <div class="widget">
                                <img src="/assets/images/icon-widget.png" />
                                <div class="widget-content">
                                    <h3>ANOTHER WIDGET</h3>
                                    <p>ADD ICON AND TEXT</p>
                                </div>
                            </div>

                            <div class="widget">
                                <img src="/assets/images/icon-phone.png" />
                                <div class="widget-content">
                                    <h3>CUSTOMER SUPPORT</h3>
                                    <p>+ 39 097 372659</p>
                                </div>
                            </div>
                        </div>

                        <div class="widget last-widget">
                            <p class="textwidget">LOVE IS SHARING</p>
                            <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div><!--main-header-->

        <nav class="navbar navbar-default">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">Navigate to...</button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="product-list.html">Shop</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="default.html">Default</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>

        <div class="border borderstrong"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div><!--container-->
</header>