<div class="body">
        <div class="primary">
            <div class="container">
                <div class="row">

                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <blog-post [post]="1">
                        </blog-post>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <recent-posts></recent-posts>
                    </div>

                </div>
            </div>
        </div>
    </div>