<div class="default-content">

    <div class="blog-header">
        <p class="date"><span class="month">Jan</span><span class="day">22</span></p>
        <h1 class="post-title">Nice &amp; Clean. The best for your blog!</h1>
        <div class="meta">
            <span class="author">posted by </span>
        </div>
    </div>

    <div class="border">
        <img [src]="'assets/images/post-1-large.jpg'">
    </div>

    <div class="the-content">
        <p>Nulla facilisi. In volutpat, orci id eleifend ultrices, eros nisi pellentesque erat, <strong>eget dapibus urna orci eu nisi</strong>.
            Pellentesque arcu nisi, pellentesque nec gravida quis, fringilla eget mi. In malesuada
            placerat diam at posuere.</p>
        <p>Morbi non aliquet felis. <a href="#">Nullam lectus</a> risus, pretium eu rhoncus quis, ultrices
            et dolor. </p>
        <p>Cras eget sem vitae velit cursus pulvinar in a urna arcu nisi, pellentesque nec gravida quis,
            fringilla eget mi. In malesuada placerat diam at posuere lorem concordia.</p>
        <p><span id="more-26"></span></p>
        <p>In facilisis ornare arcu, sodales facilisis neque blandit ac. Ut blandit ipsum quis arcu
            adipiscing&nbsp;
            <strong>sit amet semper</strong>&nbsp;sem feugiat. Nam sed dapibus arcu. Nullam eleifend
            molestie lectus. Nullam nec risus purus.</p>
        <p>Fusce rutrum lectus id nibh ullamcorper aliquet. Pellentesque pretium mauris et augue fringilla
            non bibendum turpis iaculis. Donec sit amet nunc lorem. Sed fringilla vehicula est at
            pellentesque. Aenean imperdiet elementum arcu id facilisis. Mauris sed leo eros.</p>
        <p>Duis nulla purus, malesuada in gravida sed, viverra at elit. Praesent nec purus sem, non
            imperdiet quam. Praesent tincidunt tortor eu libero scelerisque quis consequat justo
            elementum. Maecenas aliquet facilisis ipsum, commodo eleifend odio ultrices et. Maecenas
            arcu arcu, luctus a laoreet et, fermentum vel lectus. Cras consectetur ipsum venenatis
            ligula aliquam hendrerit. Suspendisse rhoncus hendrerit fermentum. Ut eget rhoncus purus.</p>
        <p>Cras a tellus eu justo lobortis tristique et nec mauris. Etiam tincidunt tellus ut odio elementum
            adipiscing. Maecenas cursus dolor sit amet leo elementum ut semper velit lobortis. Pellentesque
            posue
        </p>
    </div>

</div>