<div class="product-container added" (click)="goToProductDetails()">

    <div class="prod-img">
        <a href="#">
            <img [src]="'assets/images/prod-' + product + '.jpg'">
        </a>
    </div>

    <div class="prod-meta">
        <h3>product 1</h3>
        <span>$25.00</span>
    </div>

    <div class="prod-hidden-action">
        <div class="prod-hidden-wrapper">

            <div class="prod-action">
                <a href="#">Select option</a>
            </div>

            <div class="prod-btn-group clearfix">
                <div class="detail"><a href="#">Detail</a></div>
                <div class="wishlist"><a href="#">Wishlist</a></div>
                <div class="compare"><a href="#">Compare</a></div>
                <div class="share"><a href="#">Share</a></div>
            </div>
        </div>
    </div>

</div>