<div class="section-support">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="sc-banner switch-text" id="banner0">
                    <a href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="sc-content">
                            <h2>GET A FREE SUPPORT</h2>
                            <h3>Call us +00 39 837372</h3>        
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="sc-banner switch-text" id="banner1">
                    <a href="#">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <div class="sc-content">
                            <h2>OUR HAPPY CUSTOMERS SAY..</h2>
                            <h3>Read the great testimonials</h3>        
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="sc-banner switch-text" id="banner2">
                    <a href="#">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <div class="sc-content">
                            <h2>ENJOY OUR LATEST NEWS</h2>
                            <h3>enjoy our blog</h3>        
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>